<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Site1.master.vb" Inherits="spectrumprops.Site1" %>

<%@ Register Src="~/test/ContentLabel.ascx" TagPrefix="uc1" TagName="ContentLabel" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <asp:Literal ID="base" runat="server"></asp:Literal>
    <link rel="stylesheet" type="text/css" href="content/css/main.css" />
</head>
<body>
    <form id="form1" runat="server">
        <div class="container body-content">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <div id="wrapper">
                        <uc1:ContentLabel runat="server" filename="_header.htm" ID="Headercontent" />
                         <div class="navbar navbar-inverse visible-xs" id="menu">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li><a href="content/Default.aspx">Home</a></li>
                                        <li><a href="content/boardofdirectors.aspx">Board of Directors</a></li>
                                        <li><a href="content/facilities.aspx">Facilities</a></li>
                                        <li><a href="content/rulesandregs.aspx">Rules and Regulations</a></li>
                                        <li><a href="formsanddocs.aspx">Forms and Documents</a></li>
                                        <li><a href="content/BulletinBoard.aspx">Bulletin Board</a></li>
                                        <li><a href="Logout.aspx">Log Out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                                <div id="nav">
                                    <ul>
                                        <li><h2>Welcome Homeowner</h2></li>
                                        <li><a href="content/Default.aspx">Home</a></li>
                                        <li><a href="content/boardofdirectors.aspx">Board of Directors</a></li>
                                        <li><a href="content/facilities.aspx">Facilities</a></li>
                                        <li><a href="content/rulesandregs.aspx">Rules and Regulations</a></li>
                                        <li><a href="formsanddocs.aspx">Forms and Documents</a></li>
                                        <li><a href="content/BulletinBoard.aspx">Bulletin Board</a></li>
                                        <li>[ <a href="Logout.aspx">Log Out</a> ]</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div id="main">
                                    <asp:ContentPlaceHolder ID="body" runat="server">
        
                                    </asp:ContentPlaceHolder>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div id="footer">
                                    <a href="content/Default.aspx">Home</a> | 
                                    <a href="content/boardofdirectors.aspx">Board of Directors</a> | 
                                    <a href="content/facilities.aspx">Facilities</a> | 
                                    <a href="content/rulesandregs.aspx">Rules and Regulations</a> | 
                                    <a href="formsanddocs.aspx">Forms and Documents</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></div>
            </div>
        </div>
    </form>
</body>
</html>

