<authentication mode="Forms">
  <forms name="SpecPropAUTH" loginUrl="~/Login.aspx" defaultUrl="~/login.aspx">
    <credentials passwordFormat="Clear">

      <!--START LIST: To add a new user copy and paste SiteUser to the bottom of the list.  Than modify the username and password to what you want. -->

      <user name="SiteUser" password="Pass1234!"/>
      <user name="westlakepointe" password="viewpointe"/>
      <user name="christy" password="Pass1234!"/>
      <user name="adrian" password="Pass1234!"/>
      <user name="Site1" password="Pass1234!"/>
      <user name="venwood" password="Pass4321!"/>
      <user name="samplehoa" password="2010hoa"/>
      <user name="arborhills" password="alderdale"/>
      <user name="orchardlaneterrace" password="holly"/>
      <user name="fariabeach" password="Disabled"/>
      <user name="greystonehoa" password="arroyodelmar"/>
      <user name="sandpipervillage2" password="bolkerdrive"/>
      <user name="quailridge2" password="alderbrook"/>
      <user name="sansimeon" password="altavista"/>
      <user name="bridgehaven" password="vistaoaks"/>
      <user name="kensingtonpark" password="disabled"/>
      <user name="creeksidecalabasas" password="disabled"/>
      <user name="riverview" password="topaz"/>
      <user name="anacapa" password="Disabled!"/>
      <user name="woodbridge" password="bittern"/>
      <user name="sandalwood" password="twincircle"/>
      <user name="beachwalk" password="sawyer"/>
      <user name="paseodelmar" password="barrydrive"/>
      <user name="test" password="test"/>

      <!-- END LIST, DO NOT PASTE ANYTHING BELOW THIS LINE -->
    </credentials>
  </forms>
</authentication>