
body
{
    background-image: url(/images/grad.gif);
    background-repeat: repeat-y;
}

div#header
{
    padding: 0.938em;
    margin: 0px 0px 0px 130px;
    background-color: #fff;
    color: white;
    width: 786px;
	
}


#main
{
   /* position:absolute;
    top:20%;
    left:30%;*/
    margin: 200px auto auto 300px;
    height:300px;
    width:300px;

}

#spectrumprops
{
    position: absolute;
    left: 270px;
    top: 15px;

}

div#nav
{
    width: 116px;
    font-family: Arial;
    font-weight: 600;
    position: absolute;
    left: 10px;
    top: 34px;
    font-size: 10pt;

}

li
{
    list-style-type: none;
}

#nav p
{
    margin: 1.45em 0 0 0;
}

a:link
{
    text-decoration: underline;
    color: #ffffff;
}
a:visited
{
    text-decoration: underline;
    color: White;
}
a:hover
{
    text-decoration: underline;
    color: #008000;
}
a:active
{
    text-decoration: none;
}

#ctl00_body_HeadLoginView_HeadLoginStatus
{color:blue;}